/myapp_cake_model_debug_kit_panels
/myapp_cake_model_debug_kit_requests
/myapp_cake_model_default_f4473
/myapp_cake_model_default_fields
/myapp_cake_model_default_gun
/myapp_cake_model_default_gun_log
